html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background: #f2f2f2;
}

body {
  display: grid;
  grid-template-areas: "viewer controls";
  grid-template-columns: 2fr 1fr;
}

#viewer {
  grid-area: viewer;
}

#viewer > twisty-player {
  width: 100%;
  height: 100%;
}

#controls {
  grid-area: controls;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
}

h2 {
  margin: 0;
  background: #4285f4;
  color: white;
}

#controls > h2 {
  padding: 0.5em 1em;
}

#controls > div {
  margin: 1em 1em;
}

#controls > #selectors {
  margin: 1em 0.5em;
}

#connect,
#manage-stream {
  display: grid;
  gap: 0.25em;
}

.stream-selector-wrapper {
  margin: 0.25em 0;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
  grid-template-columns: auto 1.5em 1.5em;
}

.stream-selector-wrapper .stream-selector {
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.stream-selector-wrapper .stream-selector.current {
  background: rgba(66, 133, 244);
  color: white;
}

.stream-selector-wrapper a.stream-selector:hover {
  background: rgba(66, 133, 244, 0.7);
  color: white;
}

#stream-list-mine .stream-selector-wrapper .recording-circle {
  display: none;
}

#stream-list-mine .stream-selector-wrapper .stream-selector.current {
  background: rgba(255, 204, 204);
  color: black;
}

#stream-list-mine .stream-selector-wrapper .stream-selector.current .recording-circle {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  vertical-align: -0.12em;
  border-radius: 0.5em;
  display: inline-block;
  animation-name: recording;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes recording {
  0% {
    background-color: red;
  }
  50% {
    background-color: rgba(160, 0, 0);
  }
  100% {
    background-color: red;
  }
}

.stream-selector-wrapper a.stream-link {
  text-decoration: none;
  text-align: right;
  border-radius: 0.25em;
}

.stream-selector-wrapper a.stream-link:hover {
  background: rgba(66, 133, 244, 0.8);
}

.stream-selector-wrapper a.stream-link.copied {
  background: rgba(0, 0, 0, 0.25)
}

.swipe-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-rows: 3em 1fr; */
}

swipey-puzzle {
  display: grid;
  overflow: hidden;
  contain: content;
  position: relative;
  top: 0;
  height: 100%;
}

swipe-grid {
  height: 100%;
}

twisty-player {
  contain: content;
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) and (min-height: 640px) {
  body {
    grid-template-areas: "controls" "viewer";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
  }

  #controls {
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.25);
  }
}
